.blorg-reply-status-slider {
	position: relative;
	background: url(../images/bg-fader.gif) 5px 0 no-repeat;
	height: 50px;
	width: 228px;
}

.blorg-reply-status-slider-thumb {
	position: absolute;
}

img.blorg-reply-status-slider-image {
	position: relative;
	top: 3px;
}
