.footer-link {
	margin-top: 1em;
}

#left_frame {
	float: left;
	width: 39%;
}

#left_frame #info_frame {
	margin-top: 0;
}

#comments_frame {
	margin-top: 0;
	width: 59%;
	float: right;
}

#info_frame {
	border: 1px solid #f0dca1;
	background: #fffbc9;
}

#info_frame .swat-frame-contents {
	background: #fffbc9;
}

#info_frame .swat-frame-title {
	background: #f0dca1 url(../images/blorg-welcome-frame-header.png) repeat-x scroll left bottom;
}

#info_frame ul {
	margin-top: 0;
	padding-left: 2em;
}

a#manage_authors {
	padding-left: 8px;
}

.clear-fix {
	clear: left;
}
