div.blorg-header-image-display {
	margin-bottom: 25px;
}

a.blorg-header-image-display {
	float: left;
	background-color: #F6F6F6;
	border: 1px solid #CCCCCC;
	padding: 2px 6px;
	text-decoration: none;
}
