#title,
#bodytext, #extended_bodytext {
	width: 98%;
}

#post_primary {
	margin-right: 265px;
}

#post_sidebar {
	float: right;
	display: inline; /* IE6 hack */
	width: 250px;
}

#post_secondary {
	clear: both;
}

img.blorg-file-icon {
	float: left;
	padding-right: 3px;
}

.blorg-file-content {
	margin-top: 1em;
}

.blorg-file-title {
	border: none;
	background: transparent;
	padding-left: 0;
}

.blorg-reply-status-slider-context-note {
	min-height: 4em;
}

* html .blorg-reply-status-slider-context-note {
	height: 4em; /* IE 6 hack */
}
