.blorg-comment-status-slider {
	position: relative;
	background: url(../images/blorg-comment-status-slider-bg.gif) 5px 0 no-repeat;
	height: 50px;
	width: 228px;
}

.blorg-comment-status-slider-thumb {
	position: absolute;
}

img.blorg-comment-status-slider-image {
	position: relative;
	top: 3px;
}

.blorg-comment-status-slider-legend {
	color: #666;
	font-size: 85%;
}

.blorg-comment-status-slider-legend-selected {
	color: #333;
	font-weight: bold;
}
